<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ojboba.inventoryapp">

    <!--allows app to use camera-->
    <!--only works when the phone has a camera which is true most the time-->
    <uses-feature android:name="android.hardware.camera"
        android:required="true" />

    <!--allows to save full size photos-->
    <!--<uses-permission android:name="android.permission.CAMERA"/>-->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />


    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>

    <activity android:name=".EditorActivity"
        android:theme="@style/AppTheme"
        android:parentActivityName=".MainActivity">
    </activity>
        <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value=".MainActivity" />


        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.android.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"></meta-data>

        </provider>

    </application>



    <!--Parentactivity Name makes the back button in the menu-->


</manifest>